In [46]:
import pandas as pd
import numpy as np

In [57]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [27]:
data = pd.read_csv('data/cleaned_bookshelf_09042025.csv')

In [41]:
data['Series']

0                             0
1                             0
2                             0
3                             0
4                             0
                 ...
493                         NaN
494             Beyond the Play
495    The Kingkiller Chronicle
496                   Powerless
497                         NaN
Name: Series, Length: 498, dtype: object

In [38]:
data.columns

Index(['Name', 'Author', 'Pub Year', 'ISBN-13', 'Publisher',
       'Imprint Publisher', 'BookType', 'Primary Genre', 'Genres',
       'Ficiton/non-fiction', 'Series', 'Volume', 'Unit Price', 'Page number',
       'Language', 'Read by Stinky', 'Read by Matt', 'QTY', 'To/From',
       'surname', 'Primary Genre numerical'],
      dtype='object')

In [28]:
data.Author.nunique()

345

In [31]:
data[data['Author'].str.lower().str.contains('george')].Author.value_counts().keys()

Index(['George R R Martin', 'George Orwell', 'Jessica George'], dtype='object', name='Author')

In [66]:
selected_author = 'Sarah J Maas'

In [67]:
data.head()

                                  Name                    Author  Pub Year       ISBN-13             Publisher  Imprint Publisher              BookType                  Primary Genre                                        Genres Ficiton/non-fiction Series Volume  Unit Price  Page number Language  Read by Stinky  Read by Matt  QTY To/From   surname  Primary Genre numerical
0           Against The Loveless World            Susan Abulhawa    2020.0  9.781527e+12            Bloomsbury  Bloomsbury Circus                 Proof  Modern & Contemporary Fiction                             Political Fiction             Fiction      0    NaN         NaN        364.0  English               0             0    1     NaN  Abulhawa                        0
1                 Call me by your name              Andre Aciman    2017.0  9.781786e+12        Grove Atlantic     Atlantic Books             Paperback  Modern & Contemporary Fiction                 Romance, drama, coming-of-age             Fiction      0    NaN        8.99        248.0  English               1             0    1     NaN    Aciman                        0
2  The Hitchhikers guide to the galaxy             Douglas Adams    1979.0  3.302586e+08                   Pan                Pan  Paperback - A Format                Science Fiction         Young Adult, Science Fiction, Fantasy             Fiction      0    NaN        0.90        159.0  English               1             0    1     NaN     Adams                        8
3                 Half of a Yellow Sun  Chimamanda Ngozi Adichie    2017.0  9.780007e+12        Harper Collins         4Th Estate             Paperback             Historical Fiction  Novel, Historical Fiction, Political Fiction             Fiction      0    NaN        8.99        433.0  English               0             0    1     NaN   Adichie                       11
4                               Ghosts            Dolly Alderton    2020.0  9.780241e+12  Penguin Random House           Fig Tree              Hardback                        Romance          Fantasy Romance, Modern & Contempary             Fiction      0    NaN       14.99        338.0  English               1             0    1     NaN  Alderton                        3

In [69]:
author_data = data.query('Author == @selected_author')

In [72]:
author_data.rename(columns = {'Name':'Books'}).Books.str.title().unique()

array(['Kingdom Of Ash', 'Tower Of Dawn', 'Empire Of Storms',
       'Queen Of Shadows', 'Heir Of Fire', 'Crown Of Midnight',
       'Throne Of Glass', "The Assassin'S Blade",
       'House Of Sky And Breath', 'A Court Of Thorns And Roses',
       'A Court Of Mist And Fury', 'A Court Of Wings And Ruin',
       'A Court Of Thorns And Roses -  Collectors Edition',
       'The Assassins Blade', 'House Of Earth And Blood',
       'A Court Of Silver Flames', 'A Court Of Frost And Starlight'],
      dtype=object)

In [92]:
aa = pd.Series(data['BookType'].unique())
aa = aa.dropna()
aa = pd.concat([aa,pd.Series([None])]).reset_index(drop=True)

In [93]:
aa

0                    Proof
1                Paperback
2     Paperback - A Format
3                 Hardback
4          Trade Paperback
5        Miniature Edition
6       Butchered Hardback
7                Flexiback
8     Paperback With Flaps
9                      Map
10                    None
dtype: object

0                    Proof
1                Paperback
2     Paperback - A Format
3                 Hardback
4          Trade Paperback
5        Miniature Edition
6       Butchered Hardback
8                Flexiback
9     Paperback With Flaps
10                     Map
0                     None
dtype: object

In [80]:
aa

array(['Proof', 'Paperback', 'Paperback - A Format', 'Hardback',
       'Trade Paperback', 'Miniature Edition', 'Butchered Hardback', nan,
       'Flexiback', 'Paperback With Flaps', 'Map'], dtype=object)